<a href="https://colab.research.google.com/github/yotam-biu/tutorial3/blob/main/basic_container_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Container: List

### 1.1 Quick Start

In [ ]:
my_list = [2,20,300,4000]
my_list[1]

In [ ]:
my_list[2] = 'hi'
my_list

In [ ]:
my_list[-1]

### 1.2 Slicing

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list_duplicate = my_list*2
my_list_duplicate

In [ ]:
my_list_duplicate[::2]

In [ ]:
my_list_duplicate[2:-2:2]

### 1.3 'in' operator

In [ ]:
my_animals = ['cat', 'dog', 'monkey']
'cat' in my_animals

In [ ]:
'Cat' in my_animals

In [ ]:
for animal in my_animals:
    print(animal)

### 1.4 build-in list functions

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5, 6])
print(my_list)  # [1, 2, 3, 4, 5, 6]

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list)  # [1, 4, 2, 3]

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # [1, 3, 2]

In [ ]:
my_list = [1, 2, 3]
element = my_list.pop(1)
print(element)  # 2
print(my_list)  # [1, 3]

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # [1, 3, 2]

In [ ]:
my_list = [1, 2, 3, 2]
count = my_list.count(2)
print(count)  # 2

In [ ]:
my_list = [3, 2, 1]
my_list.sort()
print(my_list)  # [1, 2, 3]

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # [3, 2, 1]

### 1.5 build in python function

In [ ]:
list(range(2,7))

In [ ]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)  # 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)  # 15

In [ ]:
my_list = [1, 2, 3, 4, 5]
maximum = max(my_list)
print(maximum)  # 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
minimum = min(my_list)
print(minimum)  # 1

In [ ]:
my_list = [3, 2, 1, 5, 4]
new_list = sorted(my_list)
print(new_list)  # [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = list(reversed(my_list))
print(new_list)  # [5, 4, 3, 2, 1]

In [ ]:
my_list = [False, False, True, False]
result = any(my_list)
print(result)  # True

In [ ]:
my_list = [True, True, False, True]
result = all(my_list)
print(result)  # False

### 1.6 Bulid a list and the function `range`

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

In [ ]:
squares = []
for x in range(5):
    squares.append(x ** 2)
print(squares)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(nums, squares, marker='o')

In [ ]:
nums = list(range(5))
squares = [x ** 2 for x in nums]
print(squares)